header, nav, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */



// main stuff goes here

main div.parent {
    display: grid;


    span {
        display: block;
        text-align: left;
        font-size: .75rem;
    }



.teaser, .lead {padding: .5rem 2vw;}

.teaser img, .lead img {width: 100%}



} //end of parent div




