header, nav, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */



// main stuff goes here

main div.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    span {
        display: block;
        text-align: center;
        font-size: .75rem;
    }



.teaser, .lead {padding: .5rem 2vw;}

.teaser img, .lead img {width: 100%}

.lead {grid-column: 1 / span 3; grid-row: 1 / span 2;}


} //end of parent div


