header, nav, main {
    min-width: 35rem;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */


#navWrapper {

nav {

    button {display: none;}
    #primaryNav {
        display: flex; 
        justify-content: right;
        border-top: 1px solid #333;


    }

    ul, ul.open {
        margin-left: 2%;
        
    } //end of ul

  
    
    ul li a {
        display: flex;
        justify-items: right;
        border: none;
        font-size: 1rem;
        padding: .9rem 1.2rem;
        color: $secondaryColor;
        text-decoration: none;


    }

    ul li a:hover {
        background: darken($secondaryColor, .2);
        color: $primaryColor;
    }

    ul.open {
        display: none;
    }
} // end nav

} //end of navWrapper


// main stuff goes here



main div.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    span {
        display: block;
        text-align: left;
        font-size: .75rem;
    }



.teaser, .lead {padding: .5rem 2vw;}

.teaser img, .lead img {width: 100%}

.lead {grid-column: 1 / span 4;}



} //end of parent div

div.iconSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
}

div#growthSection{
    grid-template-columns: 1fr, 1fr, 1fr; 
    width: 100%;
    .topright{
        grid-row: 1 / span 2;
    }
    .bottomleft{
        grid-column: 2 span / 1;
        width: 100%;
    }
}



//footer stuff here

footer .footerParent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    .teaser, .lead {padding: .5rem 2vw;}

    }